*{
    margin: 0px;
     font-family: "Inter", sans-serif;
}

body{
    background-color: #faebeb;
}

header{
    
    width: 90%;
    margin: 50px auto;
    display: flex ;
    justify-content: space-between;
}

.btn {
  background-color:rgb(40, 171, 247);  
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
}
.btn:hover{
    background-color: rgb(29, 124, 172);
    cursor: pointer;
    transition:0s;
}

#highlilight-Section{
    width: 70%;
    margin: 50px auto;   
}

#highlilight-Section > h2 {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    text-shadow: 0 0 3px #1a1919;
    margin-bottom: 25px;

}

#highlilight-Section > p {
    margin: 0% auto;
    width: 40%;
     color: rgb(63, 64, 70);
     text-align: center;
     margin-bottom: 25px;
}

#By-Now-Button{
    display: flex;
    justify-content: center;
}

#Cover-image-section{
    
    width: 50%;
    margin: 50px auto;
}

#Cover-image-section img{
    width: 100%;
    
}

#search-section{
    width: 40%;
    margin: 50px auto;
}

#search-section h2{
    text-align: center;
    margin-bottom: 25px;
}
#search-container{
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    background-color: rgb(238, 234, 181);
    display: flex;
}
#search-bar{
    width: 70%;
    
}
#search-bar > input[type="text"]{
    padding: 10px;
    border: none;
    outline: none;
    width: 60%;
    background-color: rgb(238, 234, 181);
}
#search-button{
    width: 30%;
    
    display: flex;
    justify-content: end;
}
#Card-Section{
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.card{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
}

.card-image{
    background-color:rgb(216, 213, 213);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 20px;

}

.card-image:hover{
    background-color: rgb(243, 249, 252);
    cursor: pointer;
    transition: 0.8s;
}

.card-image img{
    width: 100%;
    height: 500px;
}
.card-title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}
.Card-description{
    text-align: center;
    margin-bottom: 20px;
    color: gray;
}
.card-price{
text-align: center;
font-weight: 700;
font-size: 30px;
margin-bottom: 20px;
}

.card-button{
    display: flex;
    justify-content: center;
}

#footer{
    padding: 40px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.left h2 {
    font-size: 32px;
    margin-bottom: 6px;
}

.left p{
    font-size: 16px;
    color: gray;
}
.icons i{
    font-size: 23px;
    margin-right: 15px;
    cursor: pointer;
    color: black;
}
button:hover {
  background-color: #0d5cc4;
}

hr {
  margin: 30px 0;
  border: 1px solid #ccc;
}

.bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col {
  margin: 10px;
}

.col p {
  margin-bottom: 10px;
  cursor: pointer;
}

.col p:hover {
  color: #1877f2;
}
